<html lang="">
<head>
    <title>User Contact</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;
        {#padding: 10px;#}{#margin : 20px;#}
        }
    </style>
</head>
<body>
<div>
    <ul>
        <li><a href="{% url 'addcontact' %}">Add Contact</a></li>
        <li><a href="{% url 'user_logout' %}">Logout</a></li>
        <li><a href="{% url 'request_user' %}">Request</a></li>

    </ul>
</div>
<h1>All Contact </h1>
{% if list %}
    <table border="1">
        <thead>
        <tr>
            <th>Index</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action1</th>
            <th>Action2</th>
            <th>Action3</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.address }}</td>
                <td><a href="{% url 'editcontact' item.id %}">Edit</a></td>
                <td>
                    <form action="{% url 'deletecontact' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td><a href="{% url 'sendmail' item.id%}">Send Mail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>No any Contact</h2>
{% endif %}
<br>
<div>
    {% if messages %}
        {% for message in messages %}
            <small>{{ message }}</small>
        {% endfor %}
    {% endif %}
</div>
<br>
{% if show_contact %}
   <table border="1">
        <tr>
            <th>Index</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        {% for item in show_contact %}
        <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.address }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>
